<link rel="stylesheet" href="{{ url_for('static', filename='register.css')}}">
{% extends "base.html" %}

{% block title %} Example for registration with handling databse {% endblock %}

{% block optional_javascript %}

{% endblock %}

{% block content %}
<span style="line-height: 50px;"><br></span>
<form role="form" id="passwd_form" name="passwd_info" method="post" action="change">
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <br>
                <span class="glyphicon glyphicon-user"></span>
                <span style="line-height: 5px;"><br></span>
                <hr class="soften" />
                <p><strong>학번: {{g.user['StudentID']}}</strong></p>
                <span style="line-height: 5px;"><br></span>
                <p><strong>이름 : {{g.user['UserName']}}</strong></p>
                <span style="line-height: 5px;"><br></span>
                <label for="passwd">비밀번호:</label>
                <input type="password" class="form-control" id="passwd" name="passwd" placeholder="비밀번호를 입력해주세요">
                <span style="line-height: 5px;"><br></span>
                <label for="repwd">새로운 비밀번호:</label>
                <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="비밀번호를 다시 입력해주세요">
                <span style="line-height: 5px;"><br></span>
                <label for="repwd">비밀번호 재입력:</label>
                <input type="password" class="form-control" id="repwd" name="repwd" placeholder="비밀번호를 입력해주세요">
                <br>

                {% if error %}
                <strong>{{ error }}</strong>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


    <span style="line-height: 40px;"><br></span>
    <div class="container" align="center">
            <button class="btn btn-danger" type="submit" id="passwd_submit" style="color:white;">수정하기</button>
    </div>
    <span style="line-height: 10px;"><br></span>
</form>
{% endblock %}