<nav class="navbar navbar-default">
    <div class="navbar-header" style=" padding: 10px;">
        <a class="dropdown-toggle" data-toggle="dropdown" id="link" href="#" style="font-size: 20px; color: white;">&nbsp;강의실 선택하기&nbsp;<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{url_for('timetable_504')}}">5 0 4 호</a></li>
            <li><a href="{{url_for('timetable_519')}}">5 1 9 호</a></li>
        </ul><p style="font-size:20px; color : white;">Today : {{date}}</p>
    </div>

    <div class="container-fluid">
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="6_Information.html"><span class="glyphicon glyphicon-home" id="icon_color"></span>&nbsp;이용안내</a></li>
               {% if session['user_id'] %}
                <li><a href="{{url_for('logout_process')}}"><span class="glyphicon glyphicon-off" id="icon_color"></span>&nbsp;로그아웃</a></li>

                {% else %}
                <li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-off" id="icon_color"></span>&nbsp;로그인</a></li>

                 {% endif %}

                <li><a href="selectinformation">
                    <span class="glyphicon glyphicon-book" id="icon_color"></span>&nbsp;예약확인/예약취소&nbsp;</a></li>
            </ul>
        </div>
    </div>
</nav>