{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block optional_javascript %}
<style>
    table{
        font-size : 16px;
        width: 80%;
        border-collapse: collapse;
    }
    table,th,td{
        border: 1px solid grey;
        text-align: center;
        height: 20px;
    }
    tr{
        height: 50%;
    }
    th{
        background-color : #f8ffff;
        font-weight: bold;
        width: 60px;
    }
    .btn{
        background-color: #ff8868;
        width:15%;
        font-size: 18px;
        font-weight: bold;
        height:auto;
        text-align:center;
        }
</style>
<script>
    function page_move(){
    location.href="http://naver.com";
    }
    function page_back(){
    history.go(-1)();
    }

var editor; // use a global for the submit and return data rendering in the examples


$.getJSON('/inputlist',
function(json_data){
    console.log(json_data);
});

$(document).ready(function () {
    $.getJSON('/inputlist', function (json_data) {
        var tr;
        for (var i = 0; i < json_data.length; i++) {
            tr = $('<tr/>');
            tr.append("<td>" + json_data[i].Date + "</td>");
            tr.append("<td>" + json_data[i].RoomNumber + "</td>");
            tr.append("<td>" + json_data[i].Time + "</td>");
            tr.append("<td>" + json_data[i].Object + "</td>");
            tr.append("<td>" + json_data[i].Status + "</td>");
            $('table').append(tr);
        }
    });
});
</script>

{% endblock %}

{% block content %}

<span style="line-height: 200px"><br></span>
<table data-toggle="table" data-url="inputlist" data-cache="false" id="table" name="table"
       class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <td data-field="Date">Date</td>
        <td data-field="RoomNumber">Room</td>
        <td data-field="Time" >Time</td>
        <td data-field="Object">Object</td>
        <td data-field="Status">Status</td>

    </tr>
    </thead>
</table>

<span style="line-height: 150px"><br></span>
<div class="container" align="center">
    <button type="button" class="btn btn-danger" onclick="page_back();">뒤로 가기</button>

</div>

{% endblock %}