{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block optional_javascript %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{{ url_for('static', filename='student_member.css')}}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
</script>
<script>
        x = 0;
        $(document).ready(function()
        {
            $("div").scroll(function(){
                $("span").text( x+= 1);
            });
            $("#TEXTAREA").autocomplete({
                source: function (request, response)
                {
                    $.ajax(
                    {
                        url:'/input_member',
                        dataType: "json",
                        data:
                        {
                            term: request.term,
                        },
                        success: function (data)
                        {
                            response($.map(data, function(item) {
                                return {
                                    label: item['StudentID'] + " " + item['StudentName'],
                                    studentID: item['StudentID'],
                                    studentName: item['StudentName']
                                };
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui)
                {
                    var data = "<option value="+ui.item.studentID+">"+ui.item.label+"</option>"
                    $('#member_list').append(data);
                    $("#btn2").click(function(){
                        $("#member_list").find('option:selected').remove();
                    });
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
             });
         });
</script>
<script>
    $('#remove').click(function () {
        $('#member_list option:selected').remove();
    });
</script>
<script src="{{ url_for('static', filename='member.js') }}"></script>
{% endblock %}


{% block content %}

<span style="line-height:50px"><br></span>


<div id="main" align="center">

    <p style="color:red;font-weight:bold;
        font-size:20px;">* 세부사항을 입력해 주세요 *</p>
    <br>

    <form role="form" id="member_form" name="member_info" method="post" action="member">
        <table id="table-member">
            <tr>
                <th>예약자 학번</th>
                <td>{{g.user['StudentID']}}</td>
            </tr>
            <tr>
                <th>예약자 이름</th>
                <td>{{g.user['UserName']}}</td>
            </tr>
            <tr>
                <th>예약 시간</th>
                <td>{{memory}}</td>
            </tr>

            <tr style="margin:30px;">
                <th style="height:100px;"><label for="reason_desc"> member : </label></th>
                <td><TEXTAREA id="reason_desc" name="reason_desc"ROWS=1 COLS=50 ></TEXTAREA></td>
            </tr>
            <tr style="margin:30px;">
                <th style="height:100px;"> append : </th>
                <td>
                    <select id="member_list" size="8" style="width:400px;"></select>
                    <input type="button" id="btn2" value="지우기">
                    </td>

            <tr style="margin:30px;">
                <th>사용 목적</th>
                <td>
                    <p>
                        <select id="mymultiselect" name="mymultiselect">
                            <option value="study">스터디</option>
                            <option value="project">조별과제</option>
                            <option value="conference">과 회의</option>
                            <option value="other">기타</option>
                        </select>
                        <br>
                        <TEXTAREA NAME="reason" placeholder="기타 사유를 입력하세요" ROWS=3 COLS=50></TEXTAREA>
                </td>
            </tr>
        </table>
        <div class="container" align="center">
    <button class="btn btn-danger" type="submit" id="member_submit" style="color: white;">예약완료</button>
</div>
</form>

</div>


{% endblock %}